body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:102px;
  top:0px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:136px;
  top:98px;
  width:314px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:134px;
  top:122px;
  width:320px;
  height:48px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:147px;
  top:180px;
  width:99px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:147px;
  top:206px;
  width:293px;
  height:94px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:94px;
}
#u9 {
  position:absolute;
  left:2px;
  top:39px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:154px;
  top:216px;
  width:276px;
  height:44px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:44px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:388px;
  top:274px;
  width:40px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  visibility:hidden;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:147px;
  top:310px;
  width:293px;
  height:94px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:94px;
}
#u15 {
  position:absolute;
  left:2px;
  top:39px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:154px;
  top:320px;
  width:276px;
  height:44px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:44px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:373px;
  top:276px;
  width:57px;
  height:14px;
  font-size:11px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:373px;
  top:378px;
  width:57px;
  height:14px;
  font-size:11px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
