body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:102px;
  top:0px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:136px;
  top:98px;
  width:314px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:373px;
  top:130px;
  width:70px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:291px;
  top:130px;
  width:82px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:220px;
  top:130px;
  width:72px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:144px;
  top:130px;
  width:76px;
  height:30px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:144px;
  top:205px;
  width:300px;
  height:255px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:255px;
}
#u13 {
  position:absolute;
  left:2px;
  top:120px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:144px;
  top:170px;
  width:100px;
  height:25px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:152px;
  top:212px;
  width:280px;
  height:238px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:238px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:152px;
  top:340px;
  width:70px;
  height:70px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u19 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:362px;
  top:340px;
  width:70px;
  height:70px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u21 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:292px;
  top:340px;
  width:70px;
  height:70px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u23 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:222px;
  top:340px;
  width:70px;
  height:70px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u25 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:152px;
  top:420px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:152px;
  top:530px;
  width:57px;
  height:14px;
  font-size:11px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:336px;
  top:420px;
  width:43px;
  height:14px;
  font-size:11px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:389px;
  top:420px;
  width:43px;
  height:14px;
  font-size:11px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:143px;
  top:470px;
  width:300px;
  height:74px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
}
#u35 {
  position:absolute;
  left:2px;
  top:29px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:152px;
  top:480px;
  width:280px;
  height:64px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:64px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:152px;
  top:506px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:336px;
  top:506px;
  width:43px;
  height:14px;
  font-size:11px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:389px;
  top:506px;
  width:43px;
  height:14px;
  font-size:11px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:152px;
  top:434px;
  width:57px;
  height:14px;
  font-size:11px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:152px;
  top:520px;
  width:57px;
  height:14px;
  font-size:11px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:142px;
  top:554px;
  width:300px;
  height:20px;
  font-size:11px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:3px;
  width:296px;
  word-wrap:break-word;
}
