body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:-20px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:136px;
  top:98px;
  width:314px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:132px;
  top:122px;
  width:320px;
  height:48px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:153px;
  top:256px;
  width:280px;
  height:40px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:153px;
  top:324px;
  width:280px;
  height:42px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:266px;
  top:628px;
  width:62px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:240px;
  top:582px;
  width:105px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:244px;
  top:190px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
