body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:102px;
  top:0px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:136px;
  top:98px;
  width:314px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:134px;
  top:122px;
  width:320px;
  height:48px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:134px;
  top:230px;
  width:320px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:134px;
  top:260px;
  width:320px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:134px;
  top:300px;
  width:320px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:134px;
  top:340px;
  width:320px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:134px;
  top:200px;
  width:320px;
  height:30px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
