body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:-20px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:136px;
  top:98px;
  width:314px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:132px;
  top:122px;
  width:320px;
  height:48px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:153px;
  top:234px;
  width:280px;
  height:40px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:153px;
  top:369px;
  width:280px;
  height:40px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:153px;
  top:444px;
  width:280px;
  height:42px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:266px;
  top:628px;
  width:62px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:240px;
  top:582px;
  width:105px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:292px;
  top:170px;
  width:160px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:132px;
  top:170px;
  width:162px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:153px;
  top:301px;
  width:280px;
  height:40px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
